
@media (min-width: 768px) {
  #template {
    min-height: 100%;
    display: flex;
    flex-flow: row;
  }

  #template > div {
    display: flex;
    align-items: stretch;
    min-height: 100%;
    width: 50%;
  }
}

@media (max-width: 767px) {
  #template {
    display: flex;
    flex-flow: column;
  }

  #template > div {
    display: flex;
    justify-content: stretch;
  }
}

app-commitment-log {
  width: 100%;
}

mat-card {
  width: 100%;
  min-height: 100%;
}