<ng-template [ngIf]="people && leadMeasures && commitments && lagMeasures">
	<div id="template">
		<div>
			<mat-card>
		    <mat-tab-group mat-align-tabs="center">
		      <mat-tab label="Less Bugs">
		        <app-scoreboard title="Less Bugs" [lagMeasures] = "lagMeasures" [leadMeasures]="leadMeasures" [commitments]="commitments"></app-scoreboard>
		      </mat-tab>
		      <mat-tab label="Triage Board">
		        <app-scoreboard title="Triage Board" [lagMeasures] = "lagMeasures" [leadMeasures]="leadMeasures" [commitments]="commitments"></app-scoreboard>
		      </mat-tab>
		    </mat-tab-group>
		  </mat-card>
		</div>

		<div>
			<app-commitment-log [people]="people" [leadMeasures]="leadMeasures" [commitments]="commitments" (commitmentCreated)="createCommitment($event)" (commitmentChanged)="updateCommitment($event)"></app-commitment-log>
		</div>
	</div>
</ng-template>