h1 Commitment List

ul
  each commitment in commitment_list
    li
      a(href="/admin/commitments/" + commitment._id + "/delete", style='margin-right: 1em') 🗑
      |#{commitment.statement}
      |#{commitment.done ? ' ✔' : ''}
  else
    li There are no commitments.
