h1 Goal List

ul
  each goal in goal_list
    li
      a(href="/admin/goals/" + goal._id + "/delete", style='margin-right: 1em') 🗑
      |#{goal.name}
  else
    li There are no goals.

h3
  a(href='/admin/goals/new') Add a Goal