h1 Scoreboard Admin

ul
  li
    a(href='/admin/people') People
  li
    a(href='/admin/goals') Goals
  li
    a(href='/admin/lag_measures') Lag Measures
  li
    a(href='/admin/lead_measures') Lead Measures
  li
    a(href='/admin/commitments') Commitments