h1 Lag Measure Form

form(method='POST' action='')
  div.form-group
    label(for='name') Name:
    input#name.form-control(type='text', placeholder='Martha' name='name' value=(lag_measure === undefined ? '' : lag_measure.name))
  div.form-group
      label(for='goal') Goal:
      select#goal.form-control(type='select', placeholder='Select goal' name='goal' required='true')
        for goal in goals
          if lag_measure
            option(value=goal._id selected=(goal._id.toString()==lag_measure.goal ? 'selected' : false) ) #{goal.name}
          else
            option(value=goal._id) #{goal.name}
  div.form-group
    label(for='url') Url:
    input#url.form-control(type='text', placeholder='The query section of the Jira integration url', name='url', value=(lag_measure === undefined ? '' : lag_measure.url))
  button.btn.btn-primary(type='submit') Submit

if errors 
 ul
  for error in errors
   li!= error.msg