h1 Lag Measure List

ul
  each lag_measure in lag_measure_list
    li
      a(href="/admin/lag_measures/" + lag_measure._id + "/delete", style='margin-right: 1em') 🗑
      |#{lag_measure.name} (#{lag_measure.goal.name})
      br
      |#{lag_measure.url}
  else
    li There are no lag measures.

h3
  a(href='/admin/lag_measures/new') Add a Lag Measure