h1 Lead Measure Form

form(method='POST' action='')
  div.form-group
    label(for='name') Name:
    input#name.form-control(type='text', placeholder='Martha' name='name' value=(goal === undefined ? '' : goal.name))
  div.form-group
      label(for='goal') Goal:
      select#goal.form-control(type='select', placeholder='Select goal' name='goal' required='true')
        for goal in goals
          if lead_measure
            option(value=goal._id selected=(goal._id.toString()==lead_measure.goal ? 'selected' : false) ) #{goal.name}
          else
            option(value=goal._id) #{goal.name}
  button.btn.btn-primary(type='submit') Submit

if errors 
 ul
  for error in errors
   li!= error.msg