h1 Lead Measure List

ul
  each lead_measure in lead_measure_list
    li
      a(href="/admin/lead_measures/" + lead_measure._id + "/delete", style='margin-right: 1em') 🗑
      |#{lead_measure.name} (#{lead_measure.goal.name})
  else
    li There are no lead measures.

h3
  a(href='/admin/lead_measures/new') Add a Lead Measure