h1 Person List

ul
  each person in person_list
    li
      a(href="/admin/people/" + person._id + "/delete", style='margin-right: 1em') 🗑
      |#{person.name}
  else
    li There are no people.

h3
  a(href='/admin/people/new') Add Someone