h1 Person Form

form(method='POST' action='')
  div.form-group
    label(for='name') Name:
    input#name.form-control(type='text', placeholder='Martha' name='name' value=(person === undefined ? '' : person.name))
  button.btn.btn-primary(type='submit') Submit

if errors 
 ul
  for error in errors
   li!= error.msg