
<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/home">
    <mat-icon>home</mat-icon>
  </a>
  <a mat-icon-button routerLink="/stats">
    <mat-icon>bar_chart</mat-icon>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>
