<mat-card>
	<mat-card-title>
		Jira Login
	</mat-card-title>
	<mat-card-content>

	<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="username" placeholder="username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" placeholder="password" [(ngModel)]="password">
    </mat-form-field>
    <button mat-raised-button type="submit">Login</button>
  </form>

	</mat-card-content>
</mat-card>
