<mat-card>
  <mat-card-title>
    {{title}}
  </mat-card-title>
  <mat-card-content>

    <div style="margin: 2em">
      <app-google-chart [hidden]="title != 'Less Bugs'" [data]="data"></app-google-chart>
      <div id="triageBoard" [hidden]="title != 'Triage Board'">
        There are
        <div id="triageBoardValue">{{getValue("Triage Board")}}</div>
        triage items
      </div>
    </div>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let leadMeasure of filteredLeadMeasures()" [disabled]="getLeadMeasureCount(leadMeasure.name) == 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{leadMeasure.name}} : {{getLeadMeasureCount(leadMeasure.name)}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let participant of filteredParticipants(leadMeasure.name); let first = first">
            <span *ngIf="first" class="crown">♔</span>
            {{participant.name}} : {{participant.count}}
          </mat-list-item>
        </mat-list>
        
      </mat-expansion-panel>
    </mat-accordion>
    
  </mat-card-content>
</mat-card>