
.mat-expansion-panel-header[aria-disabled=true] {
  color: inherit;
}

#triageBoard {
	text-align: center;
}

#triageBoardValue {
	font-size: 8em;
}

.crown {
  position: absolute;
  font-size: 1.5em;
  left: -.5em;
  color: #edbd00;
}