<mat-card>
  <mat-card-title>
    Commitments
  </mat-card-title>
  <mat-card-content>

    <form (ngSubmit)="onSubmit()" #commitmentForm="ngForm">
      <mat-form-field>
        <mat-select type="text" name="person" placeholder="name" [(ngModel)]="newCommitment.person">
          <mat-option *ngFor="let person of people" value="{{person._id}}">{{person.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select type="text" name="leadMeasure" placeholder="lead measure" [(ngModel)]="newCommitment.leadMeasure">
          <mat-option *ngFor="let leadMeasure of leadMeasures" value="{{leadMeasure._id}}">{{leadMeasure.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="statement" placeholder="statement" [(ngModel)]="newCommitment.statement">
      </mat-form-field>
      <button mat-raised-button type="submit">Commit</button>
    </form>

    <mat-divider></mat-divider>

    <div id="commitments">
      <mat-list>
        <mat-list-item *ngFor="let commitment of getCommitmentsByStatus(false)">
          <app-commitment [commitment]="commitment" (statusChanged)="statusChanged($event)"></app-commitment>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <mat-list>
        <mat-list-item *ngFor="let commitment of getCommitmentsByStatus(true); let i = index" [attr.data-index]="i">
          <app-commitment [commitment]="commitment" [i]="i" (statusChanged)="statusChanged($event)"></app-commitment>
        </mat-list-item>
      </mat-list>
    </div>

  </mat-card-content>
</mat-card>