@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-list-base .mat-list-item {
  height: auto !important;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

body {
	margin: 0;
}

@include mat-core();